:root
{
  --white:#fff;
  --black:#000;
}
html
{
  overflow-x: hidden;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light 
{
  background: var(--black) !important;
}
.me-auto-right 
{
  margin-left: auto !important;
}
.nav-link 
{
  color: var(--white) !important;
}
.footer-bg 
{
  background: var(--black);
}
.footer_section p 
{
  padding: 15px;
  margin: 0px;
  color: var(--white);
}
.about_section, .contact_section, .product_slider
{
  padding: 100px 0px;
}
.about_img
{
  width: 100%;
  border-radius: 10px;
}
.abt_section
{
  padding: 10px 0px;
}
.footer_icon
{
  list-style-type: none;
  margin: 0px;
  display: block ruby;
}
.footer_right
{
  text-align: right;
}
.footer_icon li 
{
  padding: 15px;
}
.text-left
{
  text-align: left;
}
.contact_form
{
  border-radius: 10px;
  box-shadow: 10px 10px 5px #ddd;
  border: 1px solid #ddd;
  padding: 30px;
  text-align: left;
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link 
{
  width: 100%;
  color: #000 !important;
}

/* .navbar-nav
{
  width: 100%;
}
.searchbox
{
  width: 75%;
} */